<section id="aPropos">
    <div class="dNone imgAbout">
        <img class="imgOne" src="img/fillette.png" alt="Enfant et son lapin">
        <img class="imgTwo" src="img/chaton.png " alt="Chaton" width="100%">
        <img class="imgThree" src="img/chien_coucher_soleil.png" alt="Chien" width="100%">
    </div>
    <div id="aboutText">
        <h2>Les animaux, <span>notre</span> passion !</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt laborum incidunt ut saepe dolor.
            Id inventore officia, doloremque nemo sint sequi fugit. Similique, odio temporibus! Minima, eum
            odit?
            Ipsam, necessitatibus?
        </p>
    </div>
</section>