 <!--########## SECTIONS INFOS ####################################-->
 <section id="infos">
     <div class="blocInfos">
         <h3>Livraison</h3>
         <div class="imgDelivery">
             <img src="img/mondial_relai.svg" alt="Mondial Relay">
             <img src="img/colissimo.svg" alt="colissimo">
         </div>
     </div>

     <div class="blocInfos">
         <h3>Moyens de paiement</h3>
         <img src="img/paiements.svg" alt="" width="100%">
     </div>
 </section>