<section id="newsletter">
    
    <img src=" {{ asset('img/chien_news_mobile.jpg') }} " alt="Chien noir et blanc">
    <h2>Restez informés de nos offres et promos&nbsp;!</h2>
    <div>
        <a class="myBtn btns" href=" {{ path('app_register') }} " role="button">Je m'inscris&nbsp;!</a>
    </div>

</section>