<section id="avis">

<h2>Nos clients ont aimé</h2>
<div class="container">
    <div class="notice">
        <img class="profile" src="img/avis1.png" alt="Photo de Sabrina R.">
        <div class="noticeCom">
            <p>Sabrina R.</p>
            <div class="stars">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">    
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas sapiente, quasi recusandae, quae
                commodi labore atque vero id dolores quo doloremque doloribus, provident voluptatibus
                consequuntur maiores mollitia esse impedit cupiditate?</p>
        </div>
    </div>
    <div class="notice">
        <img class="profile" src="img/avis2.png" alt="Photo de Sandra B.">
        <div class="noticeCom">
            <p>Sandra B.</p>
            <div class="stars">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client"> 
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas sapiente, quasi recusandae, quae
                commodi labore atque vero id dolores quo doloremque doloribus, provident voluptatibus
                consequuntur maiores mollitia esse impedit cupiditate?</p>
        </div>
    </div>
    <div class="notice">
        <img class="profile" src="img/avis3.png" alt="Photo de Laure F.">
        <div class="noticeCom">
            <p>Laure F.</p>
            <div class="stars">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/grey_star.svg" alt="avis client">
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas sapiente, quasi recusandae, quae
                commodi labore atque vero id dolores quo doloremque doloribus, provident voluptatibus
                consequuntur maiores mollitia esse impedit cupiditate?</p>
        </div>
    </div>
    <div class="notice">
        <img class="profile" src="img/avis4.png" alt="Photo de Emma B.">   
        <div class="noticeCom">
            <p>Emma B.</p>
            <div class="stars">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/yellow_star.svg" alt="avis client">
                <img src="img/grey_star.svg" alt="avis client"> 
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas sapiente, quasi recusandae, quae
                commodi labore atque vero id dolores quo doloremque doloribus, provident voluptatibus
                consequuntur maiores mollitia esse impedit cupiditate?</p>
        </div>
    </div>
</div>

</section>
