.detail-product {
    .card-product {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .image-product {
            width: 250px;
            height: 250px;
        }
        .content-product{
            h2 {
                margin: 2rem 0;
                padding: 0!important;
                font-size: 1.5rem!important;
                font-weight: 700;
            }
        }  
        .btn {
            margin: 3rem 0;
        }  
    }
    
}