.products {
    background-color: $color2;
    padding-bottom: 2rem;
    .cards-container {
        .card {
            border: none;
            p {
                font-weight: bold;
            }
            img {
                height: 15rem;
            }
        }
    }
}

