{% extends 'base-admin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container mb-5 crud">
    <h1 class="mt-5 margin-left-none text-capitalize">Modifier l'article : <span class="text-warning"> "{{ product.title }}"</span></h1>

    {{ include('product-crud/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('product-crud/_delete_form.html.twig') }}

     <a class="text-success" href="{{ path('product_index') }}">Retour à la liste</a>
</div>

{% endblock %}
