{% extends 'base-site.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container register m-4 mt-0">
    <h2 class="colorBaseText">Inscription</h2>
    {{ form_start(registrationForm) }}
    
    {{ form_end(registrationForm) }}

    <button type="submit" class="btn colorBaseBgd text-white mt-3 mb-3">S'inscrire</button>
</div>
{% endblock %}
