#about{
    max-width: 980px;
    p {
        text-align: center;
    }
    // images
    .imgAbout{
        position: relative;
        width: 500px;
        img{
            width: 200px;
        }
        .imgOne{
            position: absolute;
            top: -30px;
            left: 80px;
            z-index: 0;
        }
        .imgTwo{
            position: absolute;
            // top: 1700px;
            // left: 200px;
            top: 30px;
            right: 60px;
            z-index: -1;
        }
        .imgThree{
            position: absolute;
            left: 80px;
            top: 100px;
            z-index: -2;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    // span color title
    h2{
        span{
            color: $color1;
        }
    }
    #aboutText{
        margin: auto;
        display: flex;
        flex-direction: column;  
        max-width: 400px;
    }
}