{% extends 'base-admin.html.twig' %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}

<div class="container-fluid background-cofee" style="height: 400px;">
    <p class="m-4 text-capitalize fs-3">Bonjour {{ app.user.firstname }} !</p>
</div>

{% endblock %}