{% extends 'base-admin.html.twig' %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}
    <body class="background-cofee">
    <h1 class="m-4 text-capitalize title display-2">Bonjour {{ app.user.firstname }} !</h1>
    </body>
{% endblock %}
