<div class="dNonePc inputs"id="searchForm">
    {{ form_start(form) }}
    {{ form_end(form) }} 
{# <a href="{{ path('products', {'id': product.id}) }}"><img src=" {{ asset('img/searchsvg.svg') }} " alt=""/></a> #}
</div>


{# https://symfony.com/doc/current/form/form_customization.html #}
<!--SEARCHBAR PRODUCTS VERSION MOBILE-->
   {# <div class="search dNonePc"> #}
        {# <label for="search_bar"></label> #}
        {# <input class="inputs" type="search" id="search_bar" name="search_bar" placeholder="Recherche de produits..."> #}
        {# <button class="btn btn-white searchButton">
        <img class="icon" src="img/searchsvg.svg" alt="Recherche"></button>
    </div> #}