body {

    #bloc_page {

        // style buttons
        .myBtn {
            border-radius: $borderRadius;
            padding: 0.5rem 1rem;
            margin: 1rem 0;
            text-align: center;
        }
        .myBtn:hover {
            background-color: transparent;
            color: $color1;
            border: 1px solid $color1;
        }

        .btnS {
            width: 10rem;
        }

        // delete blue shadow bootstrap 
        .navbar-toggler:focus {
            box-shadow: none;
        }
    
        // buttons outline warning
        .btn-outline-warning:hover {
            color: white !important;
        }

        // buttons outline color base
        .button-outline-color-base, .button-color-base:hover {
            color: $color1;
            background-color: transparent;
            border: 1px solid $color1;
        }

        // buttons color base
        .button-color-base, .button-outline-color-base:hover {
            background-color: $color1;
            color: white;
        }
    }
}