
// delete blue shadow bootstrap
body {
    #bloc_page {
        input:focus, button:focus, select:focus {
            box-shadow: none;
        }
    }
}

// crud
.crud {
    form {
        label {
            margin-right: 1rem;
        }
        #user_roles {
            input {
                margin: 0 0.5rem;
            }
        }
        select {
            margin: 0.5rem;
            background-color: white;
            border: none;
        }
        #category_parent, #product_isonsale, #user_isMan {
            border: $borderStyle;
            margin: 0;
        }
    }
}

// register
.register {
    width: 300px;
    .select-style {
        select {
            background-color: white;
            border: none;
        }
    }
}

// searchbar
.searchbar {
    width: 280px;
    margin: 1rem;
    border: $borderStyle;
    border-radius: $borderRadius;
    form {
        display: flex;
        input {
            border: none;
            margin-left: 0.7rem;
        }
        button {
            width: 30px;
        }
    }
}

// login form
.login-form {
    width: 300px;
    box-shadow: 0 10px 35px 0 rgb(0 0 0 / 18%);
}