// INPUT TYPE TEXT
.inputs{
    border-radius: $borderRadius;
    padding: 0.5rem 1rem;
    margin: 1rem;
    width: 300px;
    border: $borderStyle;
}
//barre de recherche produits
#search_bar{
    border: none;
    margin: 0;
}

.inputs:focus{
    outline:none;
    border: $borderStyle;
}

//Formulaire de recherche mobile version
#searchForm{
    padding: 0.2rem;
    form{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        button{
            width: 30px;
        }
        button:focus {
            box-shadow: none;
        }
        input:focus {
            outline: none;
        }
    }
}
// #########################
// CLASSES FORMULAIRE CRUD
// ########################
form {
    label {
        margin-right: 1rem;
    }
    #user_roles {
        input {
            margin: 0 0.5rem;
        }
    }
    select {
        margin: 0.5rem;
        background-color: white;
        border: none;
    }
}