body {

    margin: 0;
    box-sizing: border-box;
   
    #bloc_page {
        margin: auto;
        box-shadow: 0 10px 35px 0 rgb(0 0 0 / 18%);
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1280px;

        .dNone {
            display: none;
        }
        h1 {
            margin: 1rem;
            margin-bottom: 2rem;
            text-align: center;
        }

        h2 {
            padding: 1rem;
            text-align: center;
        }

        p {
            margin: 0 1rem;
        }

        a {
            text-decoration: none;
            color: $color4;
        }

        section {
            width: 100%;
        }

        // SECTION A PROPOS
        // ###############
        #aPropos {
            .dNone {
                display: none;
            }
        }


        // background image cofee
        .background-cofee {
            background-image: url('../../img/cafe-interface-admin.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        // layout
        .margin-left-none {
            margin-left: 0 !important;
        }

        #product_image {
            margin-left: 7rem;
        }

        .input-checkbox input {
            margin: 0.5rem;
        }

        .margin-right {
            margin-right: 0.5rem;
        }
  
    }
}