// placeholder color
input::placeholder {
    color: $color5;
}

//orange background
.colorBaseBgd {
    background-color : $color1;
}

//orange text
.colorBaseText {
    color: $color1!important;
}


