// placeholder color
input::placeholder {
    color: $color5;
}

//orange background
.colorBaseBgd {
    background-color : $color1;
}

// color2 background
.background-color-2 {
    background-color: $color2;
}

//orange text
.colorBaseText {
    color: $color1!important;
}


