// #######
//HEADER #
// #######
body {

    // header
    header {

        // navbar pc
        .navbar-pc {
            a {
                font-size: 1.3rem;
            }
            a:hover {
                background-color: $color2;
            }
            padding-top: 0;
            
        }
            // navbar mobile
            #navbarNav {
            ul {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-left: 2rem;
                padding-bottom: 1rem;
                li {
                    text-transform: uppercase;
                    font-size: 1.5rem;
                }
                li:last-child {
                    margin-right: 0;
                }
            }
            background-color: white;
            position: absolute;
            top: 0px;
            width: 10rem;
            a {
                color: $color4;
                font-size: 1rem;
            }
            border-radius: 20px;  
        }
        .navPc {
            width: 100%;
        }
        #navBarr {
            padding-right: 0.8rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // icons card login search
            .icons {
                img {
                    margin-right: 0.5rem
                }
            }
            // mobile navbar
            .navbar-mobile {
                .myNavBar {
                    .navbar-toggler {
                        padding: 0;
                        border: none;
                    }
                    .navbar-toggler:focus {
                        box-shadow: none;
                        padding: 0;
                        line-height: 0;
                    }
                }
            }
        }

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        opacity: .9;
        position: sticky;
        // border-bottom: 2px solid $color1;
        box-shadow: 0 5px 5px -2px $color2;
        top: -1px;
        background-color: white;
        z-index: 1;
        width: 100%;

        //logo lanimesalerie   
        #logo {
            width: 10rem;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
            background-color: white;
            border: none;
        }
        button:focus {
            box-shadow: none;
        }
    }
    
    //delivery return bar
    #barDelivery {
        .dNone {
            display: none!important;
        }
        display: flex;
        justify-content: space-between;
        background-color: $color2;
        width: 100%;
        .delRet {
            p {
                padding-left: 1rem;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            img {
                width: 40px;
                margin: 0.3rem 0;
            }
        }
    }
}