#bloc_page {
    // text bold
    .bold {
        font-weight: bold;
    }

    p {
        font-size: 16px;
    }
    h1 {
        font-size: 1.7rem;
    }
    h2 {
        font-size: 1.6rem;
    }

}

.title {
    font-size: 4rem!important;
}
