#bloc_page {

    p {
        font-size: 16px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }

}

// ##################
// CLASSES CSS
// ###############

.title {
    font-size: 4rem!important;
}
