//POLICES
$policeText: 'Oxygen', sans-serif;

//COLORS
$color2: #F5F5F5;
$color3: #F2F2F2;
$color1: #F2994A;
$color4: black;
$color5: #D8D9DC;

//BORDERS
$borderStyle: solid 1px $color5;
$borderRadius: 7px;

//SHADOWS
$boxShadow: 0 10px 35px 0 rgb(0 0 0 / 18%);


$input-placeholder-color: $color2;