//POLICES
$policeText: 'Oxygen', sans-serif;

//COLORS
$color2: #F6F6F6;
$color3: #F2F2F2;
$color1: #F2994A;
$color4: black;
$color5: #D8D9DC;

//BORDERS
$borderStyle: solid 1px $color5;
$borderRadius: 3px;

//SHADOWS
$boxShadow:rgb(121 121 121 / 35%) 1px 1px 1px;


$input-placeholder-color: $color2;