#newsletter {
    background-color: $color2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    border-radius: 100%;
    
    h2 {
        margin-bottom: 0;
        font-size: 1.5rem;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}