<!--######################### FOOTER ####################################-->

<footer class="pt-3">

    <div class="blocFooter">
        <h3>Nos services</h3>
        <hr>
        <a href="">Mon compte</a>
        <a href="">Mes commandes</a>
        <a href="#newsletter">Newsletter</a>
    </div>
    <div class="blocFooter">
        <h3>Vos avantages</h3>
        <hr>
        <a href="">Service clients gratuit</a>
        <a href="">Paiement sécurisé</a>
        <a href="">Retour offert sous 30 jours</a>
    </div>
    <div class="blocFooter">
        <h3>À propos</h3>
        <hr>
        <a href="">Qui sommes-nous?</a>
    </div>
    <div class="blocFooter">
        <h3>Notre magasin</h3>
        <hr>
        <a href="./horaires.php">Horaires du magasin</a>
        <a href="">Contact</a>
        <a href="">Recrutement</a>
    </div>
    <div>
        <a href=" {{ path('mentions_legales') }} ">Mentions légales</a>
        <a href="">CGV</a>
        <a href="">Protection des
            données</a>
         <a href="">Administration</a>
    </div>

</footer>