{# <footer class="bg-dark footer mt-auto py-3 bg-light">
    <ul class="navbar-nav">
        <!--DECONNEXION-->
        <li class="nav-item">
            <a class="nav-link colorBaseText mr-2" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
    </ul>
</footer> #}

<footer class="footer mt-auto py-3 bg-dark">
</footer>
