<section id="newsletter">
    
    <img src=" {{ asset('img/chien-noir-et-blanc.png') }} " alt="Chien noir et blanc">
    <h2>Restez informés de nos offres et promos&nbsp;!</h2>
    <div>
        <a class="btn button-outline-color-base mt-4 mb-5" href=" {{ path('app_register') }} " role="button">Je m'inscris&nbsp;!</a>
    </div>

</section>